<form [formGroup]="form" (submit)="submit($event)">
  <div class="input-area">
    <div class="input-wrapper" [ngClass]="[ questionType, result ].join(' ')">
      <input autocomplete="off" type="text" name="solution" formControlName="solution" />
    </div>
    <div class="answer correct" [hidden]="result !== 'correct'">
      <i class="fa fa-check"></i>
    </div>
    <div class="answer incorrect" [hidden]="result !== 'incorrect'">
      <i class="fa fa-times"></i>
    </div>
    <a class="move-next" (click)="next()"><i class="fa fa-arrow-right"></i></a>
  </div>
</form>
